*, *::before, *::after {
    box-sizing: border-box;
}

.rootReact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-title{
    flex-basis:100%;
    text-align:center;
}

.card-title > h5 > span{
    color: #cd0010;
    border-bottom: 1px solid #cd0010;
    border-bottom-left-radius: 6px;
}

.pageTitle{
    text-align: center;
    flex-basis:100%;
}

.search-params{
    margin: 10px;
    padding: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.apiResult{
    flex-basis: 100%;
    text-align: center;
}

.card{
    background-color: #f9f9f9;
}

.search-location input{
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    width: 250px;
}

.search-compromise input{
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    width: 250px;
}

.form-handle{
    display:flex;
    flex-direction: column;
}

.api-result{
    flex-basis: 100%;
}

.loader{
    flex-basis: 100%;
}


.btn{
    text-align: center;
    background-color: #cd0043;
}

.btn:hover{
    background-color: #cd0010;
}

#api-key {
    float: right;
    cursor: pointer;
}